<div class="container">
  <h1 class="margin-top">1705 David Street</h1>
  <div class="pill-group">
    <a class="pill" href="https://maps.app.goo.gl/vHWz9aooKPv8ZiWp6" target="_blank" rel="noopener">
      <span>Google Map Link</span>
      <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
        <path
          d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
      </svg>
    </a>
  </div>

  <div class="description">
    <ul>
      <div *ngFor="let desc of descriptionItems">
        <li title={{desc}}>{{desc}}</li>
      </div>
    </ul>
  </div>

  <mat-tab-group (selectedTabChange)="this.scrollToSection($event)">
    <div *ngFor="let tab of tabs">
      <mat-tab label="{{tab.title}}"></mat-tab>
    </div>
  </mat-tab-group>

  <div class="photo-slider">
    <button class="nav-button" (click)="prevPhoto()">&#9664;</button>
    <img [src]="photos[currentIndex].image" alt="Photo">
    <button class="nav-button" (click)="nextPhoto()">&#9654;</button>
  </div>


  <div class="email-link pill-group">
    <a class="pill" href="{{emailLink}}"
      target="_blank" rel="noopener">
      <span>Email about Rental Application</span>
      <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
        <path
          d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
      </svg>
    </a>

  </div>
</div>
