<div class="container">
  <h1 class="margin-top">1705 David Street</h1>
  <div class="pill-group">
    <a class="pill" href="https://maps.app.goo.gl/vHWz9aooKPv8ZiWp6" target="_blank" rel="noopener">
      <span>Google Map Link</span>
      <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
        <path
          d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
      </svg>
    </a>
  </div>


  <div class="description">
    <ul>
      <li title="3 Bedrooms">3 bedrooms</li>
      <li title="1.75 baths">1.75 baths</li>
      <li title="1000 sqft">1000 sqft</li>
      <li title="1 Car Garage">1 Car Garage</li>
      <li title="Backyard fence, shed, patio area">Backyard fence, shed, patio area</li>
      <li title="Central Air, Heat">Central Air, Heat</li>
      <li title="Washer, Dryer hookups">Washer, Dryer hookups</li>
      <li title="Shaded Front Porch">Shaded Front Porch</li>
      <li title="Stand Up Garden Bed">Stand Up Garden Bed</li>
    </ul>
  </div>

  <mat-tab-group (selectedTabChange)="scrollToSection($event.index)">
    <mat-tab label="Living Room"></mat-tab>
    <mat-tab label="Bedroom"></mat-tab>
    <mat-tab label="Kitchen"></mat-tab>
  </mat-tab-group>

  <div class="carousel-container">
    <!-- <owl-carousel-o [options]="carouselOptions" #owlElement>
      <ng-container *ngFor="let slide of slides">
        <ng-template carouselSlide>
          <img [src]="slide.image" [alt]="slide.alt">
        </ng-template>
      </ng-container>
    </owl-carousel-o> -->
  </div>


  <div class="email-link pill-group">
    <a class="pill" href="mailto:rbrock444@gmail.com?subject=1705%20David%20Rent%20Application&body=Body%20text"
      target="_blank" rel="noopener">
      <span>Email about Rental Application</span>
      <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
        <path
          d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
      </svg>
    </a>

  </div>
</div>